@model Emsuser

@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var country_list = new string[] { "---SELECT----", "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua ", " Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia &amp; Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Cape Verde", "Cayman Islands", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cruise Ship", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kuwait", "Kyrgyz Republic", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Mauritania", "Mauritius", "Mexico", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Namibia", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Norway", "Oman", "Pakistan", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre &amp; Miquelon", "Samoa", "San Marino", "Satellite", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "South Africa", "South Korea", "Spain", "Sri Lanka", "St Kitts &amp; Nevis", "St Lucia", "St Vincent", "St. Lucia", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad &amp; Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks &amp; Caicos", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "Uruguay", "Uzbekistan", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe" };


}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/country.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" />
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>



<script type="text/javascript">
    $(function () {
        $('#BsDateTimePicker').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>
@*<style>
        form{
            font-family:Arial;
        }
        h2
        {
            background-color: #808080;
            padding: 12px;
            color:#FFF;
            border-top-right-radius: 15px;
            font-size:30px;
            font-weight: bold;
            letter-spacing: .1em;
        }


        input[type=radio] {
            margin: 8px 0;
            padding: 12px 20px;
            font-size:15px;
            font-weight:bold;
        }
        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
            input[type=submit]:hover {
                background-color: #45a049;
            }
        label {
            color: DodgerBlue;
            font-weight: bold;
            font-size: 12px;
            margin: 8px 0;
            padding: 12px 20px;
        }

    </style>
    <div class="container">
        <div class="row">
            <h2>Add User</h2>
            <form class="form-horizontal" asp-controller="Emsuser" asp-action="AddUser" method="post" enctype="multipart/form-data"
                  id="contact_form">

                <div class="form-group">
                    <label asp-for="Name" class="col-sm-4 control-label">Name:</label>
                    <div class="col-sm-6">
                        <input asp-for="Name" placeholder="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-sm-4 control-label">Email:</label>
                    <div class="col-sm-6">
                        <input asp-for="Email" placeholder="Email" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="col-sm-4 control-label">Country:</label>
                    <div class="col-sm-6">
                        <select name="country" asp-for="Country" class="countries" id="countryId">
                            <option value="">Select Country</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Role" class="col-sm-4 control-label">Role:</label>
                    <div class="col-sm-6">
                        <input type="radio"  value="Member"  name="role" checked="checked" class="radio-inline" />Member
                        <input type="radio" value="Staff"  name="role" class="radio-inline" />Staff
                        <input type="radio" value="Admin" name="role" class="radio-inline" />Admin

                        </div>
                    </div>
                @*<div class="form-group">
                    <label asp-for="Dob" class="col-sm-4 control-label">Date Of Birth</label>
                    <div class='input-group date col-sm-6'>
                        <div class='input-group date col-sm-12' id='BsDateTimePicker' style="margin-left:15px">
                            <input class="form-control" asp-for="Dob" type="text"  value="@String.Format("{0:dd-MM-yyyy}",DateTime.Today)" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    @*</div>
                @*</div>*@






<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>



<style>
    * {
        box-sizing: border-box;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: deepskyblue;
            cursor: inherit;
            display: block;
        }

    h2 {
        background-color: #6B8E23;
        padding: 12px;
        color: black;
        font-family: Impact;
        border-top-right-radius: 15px;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: .1em;
    }

    input[type=text], input[type=date], select, picture, input[type=file] {
        width: 100%;
        padding: 12px 2px 12px 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 5px 12px 0;
        display: inline-block;
        color: limegreen;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Bookman Old Style';
    }

    input[type=radio] {
        padding: 12px 2px 12px 5px;
        margin: 0 10px 0 10px;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        margin-right: 24%;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .container {
        border-radius: 5px;
        background-color: #f5f5f5;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 10%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 65%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @@media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
</style>

<body>

    <h2>Add User</h2>

    <div class="container">
        <form asp-controller="Emsuser" asp-action="AddUser" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-25">
                    <label asp-for="Name"> Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="Name" id="username" name="Name" placeholder="Your name..">
                </div>
            </div>
            <div class="">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
    

    <div class="row">
        <div class="col-25">
            <label asp-for="Email">Email:</label>
        </div>
        <div class="col-75">
            <input type="text" asp-for="Email" name="Email" placeholder="Your Email address">
        </div>
    </div>
            <div class="">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Password"> Password:</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="Password" id="password" name="Password" placeholder="Your name..">
                </div>
            </div>
            <div class="">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
    <div class="row">
        <div class="col-25">
            <label asp-for="Country">Country    :</label>
        </div>
        <div class="col-75">
            <select id="country" asp-for="Country" name="country">
                @foreach (string item in country_list)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>
    </div>
           
    <div class="row">
        <div class="col-25">
            <label asp-for="Role">Role:</label>
        </div>
        <div class="col-75">
            <input type="radio" asp-for="Role" value="Staff" name="role" />Staff
            <input type="radio" asp-for="Role" value="Admin" name="role" />Admin
        </div>

    </div>
            <div class="">
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
    <div class="row">
        <div class="col-25">
            <label asp-for="Dob">D.O.B:</label>
        </div>
        <div class="col-75">
            <div class='input-group date ' id='BsDateTimePicker' style="margin-left:11px">
                <input class="form-control" asp-for="Dob" type="date" value="@String.Format("{0}",DateTime.Today)" />

            </div>
        </div>
    </div>
            <div class="">
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Phone">Phone:</label>
                </div>
                <div class="col-75">
                    <input type="text" asp-for="Phone" name="Phone" placeholder="Your Phone address">
                </div>
            </div>
    <div class="row">
        <div class="col-25">
            <label>Picture:</label>
        </div>
        <div class="col-75">
            <label class="btn btn-primary btn-file">
                Browse
                <input type="file" name="photo" onchange="readURL(this);" />
            </label>
            <img id="blah" src="#" alt="" style="position:absolute;right:15px;top:30px;height:300px;width:500px;margin-top:80px;margin-right:70px" />

        </div>
    </div>
    <div class="row">
        <input type="submit" value="Create">
    </div>


    </form>
    </div>

</body>

