<style>
    h1 {
        font-weight: bold;
        /*font-size: 10vw*/
    }
</style>

<h1 style="text-align:center">Acccount Verification</h1>

<hr />



<p style="text-align:center">Congratulations , your account has been activated!!</p>