
@{
//ViewData["Title"] = "Index";
//Layout = "~/Views/Shared/_Layout_R.cshtml";
    //<PackageReference Include="Microsoft.Extensions.DependencyModel" Version="2.0.0" />
}
<style>
    p {
        font-family: Verdana;
        font-size: small;
        margin-top:5%
    }
    img {
        margin-top: 5%
    }
</style>
<div class="container-fluid">
    <div>
        <img class="col-sm-1" src="~/images/home_1.png" style="width:25%;height:25%;margin-left:3%" />

    </div>
    <div class="col-sm-6" style="margin-left:3%">
        <h2 style="font-family: Verdana;font-size:230%">Monitoring is faster and easier</h2>
        <p>Whether you're in or out of the area, it's a lot easier to be informed 
        and updated with temperature and humidity levels over the cloud. By 
        registering to our service, you can unlock more features. We value 
        our users and keep personal information protected.</p>
        <img class="col-sm-1" src="~/images/home_2.png" style="width:100%;height:100%" />
    </div>
    @*<div style="margin-left:35%">
        <img class="col-sm-1" src="~/images/home_2.png" style="width:80%;height:80%;margin-top:5%" />
    </div>*@
</div>
@*<a href="Preference/Setting">Setting</a>
<br/>
<a href="Preference/Setting_t">Test_Setting</a>
<br />
<a href="PastHistory/Template">Template</a>
<br />
<a href="PastHistory/HBar">HBar</a>
<br />
<a href="Home/Test">TestStaticUpdate</a>
<br />
<a href="Emsuser/Index">Update</a>
<a asp-action="Index" asp-controller="Emsuser">Update</a>
<a asp-action="Test" asp-controller="PastHistory">Testing</a>*@




