@{
    ViewBag.Title = "Index";
}

<h2>Event Schedule Calender</h2>
<div id="calender"></div>

<div id="popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">

                @if (User.IsInRole("Admin"))
                {
                    <button id="btnDelete" class="btn btn-danger btn-sm pull-right">
                        <i class="fa fa-trash"></i>  Delete
                    </button>
                    <button id="btnEdit" class="btn btn-success btn-sm pull-right" style="margin-right:6px;">
                        <i class="fa fa-edit"></i>  Edit
                    </button>
                }
                <p id="details"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="eventid" value="0" />
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" id="subject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start Date:</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="start" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="fullday" checked="checked" />  Is it Full Day event</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End Date:</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="endday" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Event Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Background Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="blue">Blue</option>
                            <option value="black">Black</option>
                            <option value="green">Green</option>
                            <option value="red">Red</option>

                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Save Event</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close Popup</button>
                </form>
            </div>
        </div>
    </div>
</div>


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(document).ready(function () {

        var selectedEvent = null;
        var events = [];
        getcalender();
        function getcalender() {
            events = [];
            $.ajax({

                url: "/Calender/GetEvents",
                type: "GET",
                success: function (data) {

                    $.each(data, function (i, v) {
                        events.push({
                            eventID: v.EventId,
                            title: v.Subject,
                            description: v.Description,
                            allDay: v.IsFullDay,
                            start: moment(v.Start),
                            end: v.EndDay != null ? moment(v.EndDay) : null,
                            color: v.ThemeColor

                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })
        }

        function GenerateCalender(events) {
            $('#calender').fullCalendar('destroy');
            $('#calender').fullCalendar({

                defaultDate: new Date(),
                contentHeight: 350,
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                eventLimit: true,
                eventColor: '#1E90FF',
                events: events,
                eventClick: function (calEvent, jsEvent, view) {
                    selectedEvent = calEvent;
                    $('#popup #eventTitle').text(calEvent.title);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                    if (calEvent.end != null) {
                        $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                    }
                    $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                    $('#popup #details').empty().html($description);

                    $('#popup').modal();
                },
                selectable: true,
                select: function (start, end) {
                    selectedEvent = {
                        eventID: 0,
                        start: start,
                        title: '',
                        description: '',
                        end: end,
                        allDay: false,
                        color: ''
                    };
                    editform();
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventDrop: function (event) {
                    var data = {
                        EventID: event.eventID,
                        Subject: event.title,
                        Start: event.start.format('DD/MM/YYYY HH:mm A'),
                        End: event.end != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
                        Description: event.description,
                        ThemeColor: event.color,
                        IsFullDay: event.allDay
                    };
                    SaveEvent(data);
                }
            })
        }

        $('#btnEdit').click(function () {


            editform();
        })
        $('#btnDelete').click(function () {
            if (selectedEvent != null && confirm('Are you sure?')) {
                $.ajax({
                    type: "POST",
                    url: '/Calender/DeleteEvent',
                    data: { 'eventID': selectedEvent.eventID },
                    success: function (data) {
                        if (data) {
                            //Refresh the calender
                            getcalender();
                            $('#popup').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }
        })
        $('#dtp1,#dtp2').datetimepicker({
            format: 'DD/MM/YYYY HH:mm A'
        });
        $('#fullday').change(function () {
            if ($(this).is(':checked')) {
                $('#divEndDate').hide();
            }
            else {
                $('#divEndDate').show();
            }
        });
        function editform() {
            console.log(selectedEvent);
            if (selectedEvent != null) {
                $('#eventid').val(selectedEvent.eventID);
                $('#subject').val(selectedEvent.title);
                $('#start').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
                $('#fullday').prop("checked", selectedEvent.allDay || false);
                $('#fullday').change();
                $('#endday').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
                $('#txtDescription').val(selectedEvent.description);
                $('#ddThemeColor').val(selectedEvent.color);
            }
            $('#popup').modal('hide');
            $('#myModalSave').modal();
        }
        $('#btnSave').click(function () {
            //Validation/
            if ($('#subject').val().trim() == "") {
                alert('Subject for Event required');
                return;
            }
            if ($('#start').val().trim() == "") {
                alert('Start date required');
                return;
            }
            if ($('#fullday').is(':checked') == false && $('#endday').val().trim() == "") {
                alert('End date is  required');
                return;
            }
            else {
                var startDate = moment($('#start').val(), "DD/MM/YYYY HH:mm A").toDate();
                var endDate = moment($('#endday').val(), "DD/MM/YYYY HH:mm A").toDate();
                if (startDate > endDate) {
                    alert('Invalid end date');
                    return;
                }
            }

            var data = {
                EventID: $('#eventid').val(),
                Subject: $('#subject').val().trim(),
                Start: $('#start').val().trim(),
                EndDay: $('#fullday').is(':checked') ? null : $('#endday').val().trim(),
                Description: $('#txtDescription').val(),
                ThemeColor: $('#ddThemeColor').val(),
                IsFullDay: $('#fullday').is(':checked')
            }
            SaveEvent(data);

        })
        function SaveEvent(data) {
            $.ajax({
                type: "POST",
                url: '/Calender/SaveEvent',
                data: data,
                success: function (data) {
                    if (data) {

                        getcalender();
                        $('#myModalSave').modal('hide');
                    }
                },
                error: function () {
                    alert('Failed');
                }
            })
        }
    })
</script>
